{% extends 'include/base.html' %}

{% block content %}
	

<div id="content" class="site-content">

{% include 'include/entry_banner.html'   %}


<div id="primary" class="content-area">
<div class="container">
<div class="row gutters-60">
<div class="col-sm-12 col-12">
<main id="main" class="site-main">	
<article id="post-159" class="post-159 page type-page status-publish hentry">


<div class="entry-content">
<div data-elementor-type="wp-post" data-elementor-id="159"
class="elementor elementor-159">
<div class="elementor-inner">
<div class="elementor-section-wrap">
<section
class="elementor-section elementor-top-section elementor-element elementor-element-f16167f elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
data-id="f16167f" data-element_type="section"
data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-8ba012e"
data-id="8ba012e" data-element_type="column">
<div
class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
	<div class="elementor-element elementor-element-0052809 elementor-widget elementor-widget-image"
		data-id="0052809" data-element_type="widget"
		data-widget_type="image.default">
		<div class="elementor-widget-container">
			<div class="elementor-image">
				<img loading="lazy" style="height: 800px; object-fit:cover;" width="810"
					height="494"
					src="{{ about.image.url }}"
					class="attachment-large size-large"
					alt=""
					
					sizes="(max-width: 810px) 100vw, 810px" />
			</div>
		</div>
	</div>
	<div class="elementor-element elementor-element-fbd28be elementor-widget elementor-widget-rt-title"
		data-id="fbd28be" data-element_type="widget"
		data-widget_type="rt-title.default">
		<div class="elementor-widget-container">
			<div
				class="sec-title style1 center barshow">
				<div class="sec-title-holder">
					<h2 class="rtin-title">{{about.name}}<span
							class="title-bar"></span>
					</h2>
					<p class="sub-title">{{ about.description }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="elementor-element elementor-element-ed23f18 elementor-widget elementor-widget-rt-title"
		data-id="ed23f18" data-element_type="widget"
		data-widget_type="rt-title.default">
		<div class="elementor-widget-container">
			<div class="sec-title style1 left barshow">
				<div class="sec-title-holder">
					<h2 class="rtin-title">Quick Contact
						Me<span
							class="title-bar"></span>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="elementor-element elementor-element-9525522 elementor-widget elementor-widget-shortcode"
		data-id="9525522" data-element_type="widget"
		data-widget_type="shortcode.default">
		<div class="elementor-widget-container">
			<div class="elementor-shortcode">
				<div role="form" class="wpcf7"
					id="wpcf7-f165-p159-o1" lang="en-US"
					dir="ltr">
					<div class="screen-reader-response">
						<p role="status"
							aria-live="polite"
							aria-atomic="true"></p>
						<ul></ul>
					</div>
					<form
						action="/demo/wordpress/themes/ranna/about/#wpcf7-f165-p159-o1"
						method="post"
						class="wpcf7-form init"
						novalidate="novalidate"
						data-status="init">
						<div style="display: none;">
							<input type="hidden"
								name="_wpcf7"
								value="165" />
							<input type="hidden"
								name="_wpcf7_version"
								value="5.5.6.1" />
							<input type="hidden"
								name="_wpcf7_locale"
								value="en_US" />
							<input type="hidden"
								name="_wpcf7_unit_tag"
								value="wpcf7-f165-p159-o1" />
							<input type="hidden"
								name="_wpcf7_container_post"
								value="159" />
							<input type="hidden"
								name="_wpcf7_posted_data_hash"
								value="" />
						</div>
						<div
							class="row about-contact-form">
							<div
								class="col-md-4 form-group">
								<span
									class="wpcf7-form-control-wrap text-678"><input
										type="text"
										name="text-678"
										value=""
										size="40"
										class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
										aria-required="true"
										aria-invalid="false"
										placeholder="Name*" /></span>
							</div>
							<div
								class="col-md-4 form-group">
								<span
									class="wpcf7-form-control-wrap email-529"><input
										type="email"
										name="email-529"
										value=""
										size="40"
										class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
										aria-required="true"
										aria-invalid="false"
										placeholder="Email*" /></span>
							</div>
							<div
								class="col-md-4 form-group">
								<span
									class="wpcf7-form-control-wrap tel-363"><input
										type="tel"
										name="tel-363"
										value=""
										size="40"
										class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control"
										aria-required="true"
										aria-invalid="false"
										placeholder="Phone*" /></span>
							</div>
							<div
								class="col-12 form-group">
								<span
									class="wpcf7-form-control-wrap textarea-97"><textarea
										name="textarea-97"
										cols="40"
										rows="10"
										class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required textarea form-control"
										aria-required="true"
										aria-invalid="false"
										placeholder="Message"></textarea></span>
							</div>
							<div
								class="col-12 form-group mb-0 mt-1">
								<input type="submit"
									value="SEND MESSAGE"
									class="wpcf7-form-control has-spinner wpcf7-submit item-btn" />
							</div>
						</div>
						<div class="wpcf7-response-output"
							aria-hidden="true"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

















<!-- <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-87bdb3a"
data-id="87bdb3a" data-element_type="column">
<div
class="elementor-column-wrap elementor-element-populated">
<div class="elementor-widget-wrap">
	<div class="elementor-element elementor-element-375aa73 element-sidebar-title elementor-widget elementor-widget-wp-widget-apsc_widget"
		data-id="375aa73" data-element_type="widget"
		data-widget_type="wp-widget-apsc_widget.default">
		<div class="elementor-widget-container">
			<h3>Subscribe &#038; Follow</h3>
			<div
				class="apsc-icons-wrapper clearfix apsc-theme-4 ">
				<div class="apsc-each-profile">
					<a class="apsc-facebook-icon clearfix"
						href="https://facebook.com/"
						target="_blank">
						<div class="apsc-inner-block">
							<span class="social-icon"><i
									class="fab fa-facebook-f apsc-facebook"></i><span
									class="media-name">Facebook</span></span>
							<span
								class="apsc-count">0</span><span
								class="apsc-media-type">Fans</span>
						</div>
					</a>
				</div>
				<div class="apsc-each-profile">
					<a class="apsc-twitter-icon clearfix"
						href="https://twitter.com/"
						target="_blank">
						<div class="apsc-inner-block">
							<span class="social-icon"><i
									class="fab fa-twitter apsc-twitter"></i><span
									class="media-name">Twitter</span></span>
							<span
								class="apsc-count">0</span><span
								class="apsc-media-type">Followers</span>
						</div>
					</a>
				</div>
				<div class="apsc-each-profile">
					<a class="apsc-instagram-icon clearfix"
						href="https://instagram.com/"
						target="_blank">
						<div class="apsc-inner-block">
							<span class="social-icon"><i
									class="apsc-instagram fab fa-instagram"></i><span
									class="media-name">Instagram</span></span>
							<span
								class="apsc-count">0</span><span
								class="apsc-media-type">Followers</span>
						</div>
					</a>
				</div>
				<div class="apsc-each-profile">
					<a class="apsc-youtube-icon clearfix"
						href="" target="_blank">
						<div class="apsc-inner-block">
							<span class="social-icon"><i
									class="apsc-youtube fab fa-youtube"></i><span
									class="media-name">Youtube</span></span>
							<span
								class="apsc-count">0</span><span
								class="apsc-media-type">Subscriber</span>
						</div>
					</a>
				</div>
				<div class="apsc-each-profile">
					<a class="apsc-soundcloud-icon clearfix"
						href="https://soundcloud.com/"
						target="_blank">
						<div class="apsc-inner-block">
							<span class="social-icon"><i
									class="apsc-soundcloud fab fa-soundcloud"></i><span
									class="media-name">Soundcloud</span></span>
							<span
								class="apsc-count"></span><span
								class="apsc-media-type">Followers</span>
						</div>
					</a>
				</div>
				<div class="apsc-each-profile">

					<a class="apsc-dribble-icon clearfix"
						href="https://dribbble.com/"
						target="_blank">
						<div class="apsc-inner-block">
							<span class="social-icon"><i
									class="apsc-dribbble fab fa-dribbble"></i><span
									class="media-name">dribble</span></span>
							<span
								class="apsc-count"></span><span
								class="apsc-media-type">Followers</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="elementor-element elementor-element-da8af41 element-sidebar-title elementor-widget elementor-widget-wp-widget-rt-recent-recipe"
		data-id="da8af41" data-element_type="widget"
		data-widget_type="wp-widget-rt-recent-recipe.default">
		<div class="elementor-widget-container">
			<h3>Latest Recipes</h3>
			<div class="widget-latest">
				<ul class="block-list">

					<li class="single-item">
						<div class="item-img">
							<a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/nashville-style-hot-chicken-sandwich/"
								title="Nashville-Style Hot Chicken Sandwich"
								class="rt-wid-post-img">
								<img class="rt-lazy"
									src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/themes/ranna/assets/img/noimage_150X150.jpg"
									alt="Nashville-Style Hot Chicken Sandwich">
							</a>
							<div class="count-number">1
							</div>
						</div>
						<div class="item-content">
							<div class="item-ctg"><span
									class="styles"><span
										class="ctg-name"><a
											href="https://radiustheme.com/demo/wordpress/themes/ranna/ranna_recipe_category/dinner/"
											rel="tag">Dinner</a></span></span>
							</div>

							<h4 class="item-title"><a
									href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/nashville-style-hot-chicken-sandwich/">Nashville-Style
									Hot Chicken
									Sandwich</a></h4>
							<div class="item-post-by"><i
									class="fa fa-user"></i>
								<span><a href="https://radiustheme.com/demo/wordpress/themes/ranna/author/sarakessell/?type=page"
										title="Posts by Sara Kessell"
										rel="author">Sara
										Kessell</a></span>
							</div>
						</div>
					</li>

					<li class="single-item">
						<div class="item-img">
							<a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/spiced-pork-and-pasta/"
								title="Spiced Pork and Pasta"
								class="rt-wid-post-img">
								<img loading="lazy"
									width="150"
									height="150"
									src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-6-150x150.jpg"
									class="media-object wp-post-image"
									alt=""
									srcset="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-6-150x150.jpg 150w, https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-6-300x300.jpg 300w, https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-6-100x100.jpg 100w"
									sizes="(max-width: 150px) 100vw, 150px" />
							</a>
							<div class="count-number">2
							</div>
						</div>
						<div class="item-content">
							<div class="item-ctg"><span
									class="styles"><span
										class="ctg-name"><a
											href="https://radiustheme.com/demo/wordpress/themes/ranna/ranna_recipe_category/pasta/"
											rel="tag">Pasta</a></span></span>
							</div>

							<h4 class="item-title"><a
									href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/spiced-pork-and-pasta/">Spiced
									Pork and Pasta</a>
							</h4>
							<div class="item-post-by"><i
									class="fa fa-user"></i>
								<span></span></div>
						</div>
					</li>

					<li class="single-item">
						<div class="item-img">
							<a href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/pumpkin-cheesecake-with-gingersnapcrust/"
								title="Pumpkin Cheese cake With Gingersnap Crust"
								class="rt-wid-post-img">
								<img width="150"
									height="150"
									src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-3-150x150.jpg"
									class="media-object wp-post-image"
									alt=""
									loading="lazy"
									srcset="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-3-150x150.jpg 150w, https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-3-300x300.jpg 300w, https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2020/06/ranna-wordpress-theme-radiustheme.com-3-100x100.jpg 100w"
									sizes="(max-width: 150px) 100vw, 150px" />
							</a>
							<div class="count-number">3
							</div>
						</div>
						<div class="item-content">
							<div class="item-ctg"><span
									class="styles"><span
										class="ctg-name"><a
											href="https://radiustheme.com/demo/wordpress/themes/ranna/ranna_recipe_category/drink/"
											rel="tag">Drink</a></span></span>
							</div>

							<h4 class="item-title"><a
									href="https://radiustheme.com/demo/wordpress/themes/ranna/recipe/pumpkin-cheesecake-with-gingersnapcrust/">Pumpkin
									Cheese cake With
									Gingersnap Crust</a>
							</h4>
							<div class="item-post-by"><i
									class="fa fa-user"></i>
								<span></span></div>
						</div>
					</li>


				</ul>
			</div>

		</div>
	</div>
	<div class="elementor-element elementor-element-a9ed78b elementor-widget elementor-widget-image"
		data-id="a9ed78b" data-element_type="widget"
		data-widget_type="image.default">
		<div class="elementor-widget-container">
			<div class="elementor-image">
				<img loading="lazy" width="350"
					height="277"
					src="https://radiustheme.com/demo/wordpress/themes/ranna/wp-content/uploads/2019/07/figure2-350x277.jpg"
					class="attachment-ranna-size5 size-ranna-size5"
					alt="" />
			</div>
		</div>
	</div>
</div>
</div>
</div> -->

<div class="col-lg-4">
	{% include 'include/sidebar.html'   %}

</div>









</div>
</div>
</section>
</div>
</div>
</div>
</div>
</article>
</main>
</div>
</div>
</div>
</div>
</div>
<!--#content-->
{% endblock %}
