{% extends 'include/base.html' %}

{% block content %}
	
		<div id="content" class="site-content">
			{% include 'include/entry_banner.html'   %}
			<div class="container">
				<div class="row gutters-60">
					<div class="col-lg-12 padding-top-70 padding-bottom-40">

						<div class="wrapper login-box-layout1">
							<!--display error/success message-->
							<div id="message">
							</div>




							<form action="{% url 'registration' %}"  method="post" class="login-form">
								{% csrf_token %}

								<h3>Ещё нет аккаунта?! Создайте новый</h3>

								<div class="row">
{% for f  in form %}
	

									<div class="col-md-6">
										<label for="{{f.id_for_label}}" class="mb-3">{{f.label}}</label>
										{{f}} {{f.errors}}
									</div>
{% endfor %}
									
								</div>


								<div class="btn-area">
									<button type="submit" name="btnregister"
										class="btn-fill registration-but btn-primary button-primary button">
										Submit </button>
									<input type="hidden" name="task" value="register" />
								</div>
							</form>










						</div>


					</div>
				</div>
			</div>
		</div>
		<!--#content-->

		{% endblock %}